{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works
don't forget to include your css and your client-side script file references in the layout.
}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    
</head>

<body>
        {{{body}}}
    <script type = "text/javascript" src="/public/js/client_side_validation.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/public/js/habit_script.js"></script>
    <footer>(c) Group 3 CS 546 WN1</footer>

</body>

</html>