<form action="/habits/create-habit" method="POST" id="create-habit-form">
    <label class="habit-input" for="nameInput">Name</label>
    <input id="nameInput" type="text" name="nameInput">
    <label class="habit-input" for="effectInput">Effect</label>
    <select name="effectInput" id="effectInput">
        <option value="good">Good</option>
        <option value="bad">Bad</option>
    </select>
    <label class="habit-input" for="categoryInput">Category</label>
    <select name="categoryInput" id="categoryInput">
        <option value="healthAndFitness">Health and Fitness</option>
        <option value="personalDevelopment">Personal Development</option>
        <option value="productivity">Productivity</option>
        <option value="financial">Financial</option>
        <option value="relationships">Relationships</option>
        <option value="careerDevelopment">Career Development</option>
        <option value="social">Social</option>
        <option value="organization">Organization</option>
        <option value="hobbies">Hobbies</option>
    </select>
    <label class="habit-input" for="weightInput">Weight</label>
    <input id="weightInput" type="text" name="weightInput">
    <input type="submit" class="search-button" value="Create Habit">
</form>
{{#if isError}}
<p class="error">{{message}}</p>
{{/if}}