{{!--

groups handelbars

--}}
<head>
    <meta charset="utf-8">
    {{!-- <title>Habit Tracker</title> --}}
    <link rel="stylesheet" href="/public/css/button.style.css">

</head>
<header>
    <h1>Habit Tracker - Add Groups</h1>
</header>
<div class="button-div">
  <a href="/protected" class="submit-button">Home Page</a>
  <a href="/habits/create-habit" class="submit-button">Manage Habits</a>
  <a href="/tracked-habits/view-habit-log" class="submit-button">Log a Habit</a>
  <a href="/groups" class="submit-button">Manage Group</a>
  <a href="/individual" class="submit-button">Individual Challenge</a>
  <a href="/challenges" class="submit-button">Challenge Dashboard</a>
  {{!-- <a href="/leadershipboard" class="submit-button">Leadership board</a> --}}
</div>
<main>
    {{#each groupInfo}}
   <canvas id="barChart_{{_id}}" width="400" height="200"></canvas>
   {{/each}}
</main>