{{!--

groups handelbars

--}}
<header>
    <h1>Habit Tracker - Add Groups</h1>
</header>

<main>
    {{#each groupInfo}}
   <canvas id="barChart_{{_id}}" width="400" height="200"></canvas>
   {{/each}}
</main>