{{!--

logout handlebar template

--}}
<!DOCTYPE html>
<html lang="en">
<body>
<header>        
    <h1>Habit Tracker - Logout</h1>
</header>
<p>You have been logged out successfully!</p>
<p>Click <a href="/login">here</a> to login again</p>

</body>
</html>