{{!--

registration handelbars

--}}
<header>        
    <h1>Habit Tracker - Register User</h1>
</header>

    <p>Provide your details below to register on our Habit Tracker platform</p>
    
    <main>
        <form action="/register" method="POST" id="registerForm" class="register-form" onsubmit="return validateRegisterForm(this)">
            <label>
            First Name:&nbsp;&Tab;&Tab;&Tab;<input type="text" id="firstName" name="firstName" value="{{firstName}}">
            </label><br>
            <label>
            Last Name:&nbsp;&Tab;&Tab;&Tab;<input type="text" id="lastName" name="lastName" value="{{lastName}}">
            </label><br>
            <label>
            Email address:&nbsp;&Tab;<input type="text" id="emailAddress" name="emailAddress" value="{{emailAddress}}">
            <br>
            Password:&nbsp;<input type="password" id="userPassword" name="userPassword">&nbsp;<input type="checkbox" onclick="showPass('userPassword')">Show Password
            </label><br>
            <label>
            Re-enter Password:&nbsp;<input type="password" id="userPassword2" name="userPassword2">&nbsp;<input type="checkbox" onclick="showPass('userPassword2')">Show Password
            </label>
            <br><p class="error" id="error">{{error}}</p><br>
            <button type="submit">Submit</button>
            <button type="reset">Clear Form</button><br>
            <p>If you already have an account, you can login <A href="/login">here</A></p>
            {{!-- <input type="hidden" name='_method' value="PUT" /> --}}
        </form>
    </main>