<div class="habit-log-container mt-5">
    <h1 class="mb-4 habit-h1">Habit Log</h1>
    <div id="errorContainer" class="alert alert-danger" style="display: none;"></div>

    <!-- New habit entry form -->
    <form class="habit-log-form" id="habitForm">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="habitInput">Habit:</label>
                <input type="text" class="form-control" id="habitInput" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="dateInput">Date:</label>
                <input type="date" class="form-control" id="dateInput" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="timeInput">Time:</label>
                <input type="time" class="form-control" id="timeInput" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Log Habit</button>
    </form>

    <!-- Date picker -->
    <div class="form-group mt-4">
        <label for="datePicker">View by Date:</label>
        <input type="date" class="form-control" id="datePicker">
    </div>

    <!-- Habit log entries -->
    <div id="habitLog">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/public/js/habit_log_scripts.js"></script>