<h1>Habits</h1>
<div id="habitListContainer">
    <ul id="listOfAvailableHabits">
        {{#each habits}}
            <li>
                <span>{{name}}</span>
                <a href="/habits/modify/{{_id}}" class="button-link">Go to Modify Page</a>
                <button id="deleteHabit" data-habit-id="{{_id}}">Delete</button>
            </li>
        {{/each}}
    </ul>
</div>