
.streaks-report {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    text-align: center; /* This centers the text within the streaks-report div */
}

.streaks-report h2, .streaks-report h3 {
    margin-top: 20px;
}

.streaks-report p {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adds spacing between the text and the table */
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

/* Align table headers and data to the center */
th, td {
    text-align: center;
}

.streak-status.completed {
    color: green;
}

.streak-status.broken {
    color: red;
}

/* General button styling */
button, .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
}

button:hover, .button:hover {
    background-color: #0066cc;
}

button:active, .button:active {
    background-color: #0056b3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* This class can be added to anchor tags to style them like buttons */
a.button {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

/* Container for the buttons, if needed for alignment or layout */
.buttons-container {
    text-align: center; /* Center the buttons container */
    margin: 20px 0; /* Spacing around the buttons container */
}

.submit-button:not(:last-child):after {
    content: "|";
    padding: 0 10px;
    color: #333; /* or any color you want */
}
.button-div {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    flex-wrap: wrap; /* Allow the items to wrap if necessary */
    gap: 10px; /* Optional: Adds space between the buttons */
}
